.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 1rem 1.875rem 0 1.875rem;
  font-size: 0.9rem;
}
.header-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 55%;
  align-items: center;
}
.header-links li {
  list-style: none;
}
